{{include file="public/header" /}}

<!-- right content start  -->
<div class="content-right">
	<div class="content">
		<!-- form start -->
		<form class="am-form form-validation view-save" action="{{:MyUrl('admin/goods/save')}}" method="POST" request-type="ajax-url" request-value="{{:MyUrl('admin/goods/index', $params)}}" enctype="multipart/form-data">
			<legend>
				<span class="am-text-default">商品{{if empty($data['id'])}}添加{{else /}}编辑{{/if}}</span>
				<a href="{{:MyUrl('admin/goods/index', $params)}}" class="am-fr am-text-sm am-margin-top-xs am-icon-mail-reply"> 返回</a>
			</legend>

			<nav class="goods-nav">
				<ul>
					<li>
						<a href="javascript:;" data-value="#goods-nav-base">基础信息</a>
					</li>
					<li>
						<a href="javascript:;" data-value="#goods-nav-operations">商品规格</a>
					</li>
					<li>
						<a href="javascript:;" data-value="#goods-nav-parameters">商品参数</a>
					</li>
					<li>
						<a href="javascript:;" data-value="#goods-nav-file">商品文件</a>
					</li>
					<li>
						<a href="javascript:;" data-value="#goods-nav-photo">商品相册</a>
					</li>
					<li>
						<a href="javascript:;" data-value="#goods-nav-audio">商品音频</a>
					</li>
					<li>
						<a href="javascript:;" data-value="#goods-nav-video">商品视频</a>
					</li>
					<li>
						<a href="javascript:;" data-value="#goods-nav-web">电脑详情</a>
					</li>
					<li>
						<a href="javascript:;" data-value="#goods-nav-seo">SEO</a>
					</li>
					<li class="am-text-center am-padding-xs nav-shrink-submit">
						<i class="am-icon-angle-double-right am-icon-sm"></i>
					</li>
				</ul>
			</nav>

			<!-- 基础信息 -->
			<div id="goods-nav-base" class="division-block">
				<label class="block nav-detail-title">基础信息</label>
				<div class="am-form-group">
					<label>标题名称</label>
					<div class="am-input-group am-input-group-sm">
						<input type="hidden" name="title_color" value="{{if !empty($data['title_color'])}}{{$data.title_color}}{{/if}}" />
						<input type="text" name="title" placeholder="标题名称" minlength="2" maxlength="160" data-validation-message="标题名称格式 2~160 个字符" class="am-form-field am-radius" {{if !empty($data)}} value="{{$data.title}}" {{/if}} {{if !empty($data['title_color'])}} style="color:{{$data.title_color}};" {{/if}} required />
						<span class="am-input-group-btn">
							<button type="button" class="am-btn am-btn-default am-btn-xs colorpicker-submit" data-input-tag="input[name='title']" data-color-tag="input[name='title_color']">
								<img src="{{$attachment_host}}/static/common/images/colorpicker.png" />
							</button>
						</span>
					</div>
				</div>
				<div class="am-form-group">
					<label>商品简述</label>
					<input type="text" name="simple_desc" placeholder="商品简述" maxlength="230" data-validation-message="商品简述格式 最多230个字符" class="am-radius" {{if !empty($data)}} value="{{$data.simple_desc}}"{{/if}} />
				</div>
				
				<div class="am-form-group">
					<label>商品分类</label>
					<br />
					<select name="category_id" class="am-radius chosen-select" multiple="multiple" minchecked="1" data-placeholder="请选择..." data-validation-message="请至少选择一个商品分类" required>
						{{if !empty($goods_category_list)}}
							{{foreach $goods_category_list as $v}}
								<option value="{{$v.id}}" {{if !empty($data['category_ids']) and in_array($v['id'], $data['category_ids'])}}selected{{/if}}>一级 - {{$v.name}}</option>
								{{if !empty($v['items'])}}
									{{foreach $v.items as $vs}}
										<option style="padding-left: 30px;" value="{{$vs.id}}" {{if !empty($data['category_ids']) and in_array($vs['id'], $data['category_ids'])}}selected{{/if}}>二级-{{$vs.name}}</option>
										{{if !empty($vs['items'])}}
											{{foreach $vs.items as $vss}}
												<option style="padding-left: 60px;" value="{{$vss.id}}" {{if !empty($data['category_ids']) and in_array($vss['id'], $data['category_ids'])}}selected{{/if}}>三级-{{$vss.name}}</option>
											{{/foreach}}
										{{/if}}
									{{/foreach}}
								{{/if}}
							{{/foreach}}
						{{/if}}
					</select>
				</div>
			
				<div class="am-form-group">
					<label class="block">上下架<span class="am-form-group-label-tips">下架后用户不可见</span></label>
					<input name="is_shelves" value="1" type="checkbox" data-off-text="下架" data-on-text="上架" data-size="xs" data-on-color="success" data-off-color="default" data-handle-width="50" data-am-switch {{if (isset($data['is_shelves']) and $data['is_shelves'] eq 1) or empty($data)}}checked="true"{{/if}} />
				</div>
				<div class="am-form-group">
					<label class="block">首页推荐<span class="am-form-group-label-tips">推荐后在首页展示</span></label>
					<input name="is_home_recommended" value="1" type="checkbox" data-off-text="否" data-on-text="是" data-size="xs" data-on-color="success" data-off-color="default" data-handle-width="50" data-am-switch {{if isset($data['is_home_recommended']) and $data['is_home_recommended'] eq 1}}checked="true"{{/if}} />
				</div>
				
				<div class="am-form-group am-form-file">
					<label class="block">封面图片<span class="am-form-group-label-tips">留空则取相册第一张图</span></label>
					<ul class="plug-file-upload-view goods-recommended-images-view" data-form-name="images" data-max-number="1" data-dialog-type="images">
						{{if !empty($data['images'])}}
							<li>
								<input type="text" name="images" value="{{$data.images}}" />
								<img src="{{$data.images}}" />
								<i>×</i>
							</li>
						{{/if}}
					</ul>
					<div class="plug-file-upload-submit" data-view-tag="ul.goods-recommended-images-view">+上传图片</div>
				</div>
				
			</div>

			<!-- 规格 -->
			<div id="goods-nav-operations" class="division-block" data-spec-add-max-number="{{:MyC('common_spec_add_max_number', 3, true)}}">
				<label class="block nav-detail-title">商品规格</label>
				<span class="business-operations-submit specifications-nav-title-add">+添加规格</span>
				<span class="business-operations-submit specifications-line-add">+添加一行</span>
				
				
				<div class="goods-specifications business-form-group am-form-group-refreshing am-padding-top-sm">
					<!-- 规格列表 -->
					<table class="am-table am-table-bordered am-table-centered specifications-table am-margin-bottom-sm am-table-striped am-table-hover table-thead-beautify">
						<thead class="title-nav">
							<tr>
								{{if !empty($specifications['type'])}}
									{{foreach $specifications.type as $type_v}}
										<th class="table-title table-title-{{$type_v.id}}">
											<i class="am-close title-nav-remove" data-index="{{$type_v.id}}">×</i>
											<input type="text" name="specifications_name_{{$type_v.id}}" placeholder="规格名" value="{{$type_v.name}}" data-validation-message="请填写规格名" required />
										</th>
									{{/foreach}}
								{{/if}}
								<th class="title-start">
									<span>价格(元)</span>
									<i class="am-icon-edit"></i>
								</th>
								<th>
									<span>原价(元)</span>
									<i class="am-icon-edit"></i>
								</th>
								<th class="operation-btn">操作</th>
							</tr>
						</thead>
						<tbody>
							{{if empty($specifications['value'])}}
								<tr class="line-0" data-line-tag=".line-0">
									<td class="am-text-middle value-start">
										<input type="text" name="specifications_price[]" placeholder="价格" class="am-radius" pattern="^([0-9]{1}\d{0,6})(\.\d{1,2})?$" data-validation-message="请填写有效的销售金额" required />
									</td>
									<td class="am-text-middle">
										<input type="text" name="specifications_original_price[]" placeholder="原价" class="am-radius" pattern="^([0-9]{1}\d{0,6})(\.\d{1,2})?$" data-validation-message="请填写有效的原价" />
									</td>
									<td class="am-text-middle">
										<!--operation-->
									</td>
								</tr>
							{{/if}}

							{{if !empty($specifications['value'])}}
								{{foreach $specifications.value as $line_k=>$line_v}}
									<tr class="line-{{$line_k}} {{if $line_k gt 0}} line-not-first{{/if}}" data-line-tag=".line-{{$line_k}}">
									{{foreach $line_v as $v}}
										{{if isset($v['data_type'])}}
											{{switch v.data_type}}
												{{case spec}}
													<td class="am-text-middle table-value table-value-{{$v.data.key}}">
														<input type="text" name="specifications_value_{{$v.data.key}}[]" placeholder="规格值" value="{{$v.data.value}}" data-validation-message="请填写规格值" required />
													</td>
												{{/case}}

												{{case base}}
													<td class="am-text-middle value-start">
														<input type="text" name="specifications_price[]" placeholder="价格" class="am-radius" pattern="^([0-9]{1}\d{0,6})(\.\d{1,2})?$" data-validation-message="请填写有效的销售金额" value="{{$v.data.price}}" required />
													</td>
													<td class="am-text-middle">
														<input type="text" name="specifications_original_price[]" placeholder="原价" class="am-radius" pattern="^([0-9]{1}\d{0,6})(\.\d{1,2})?$" data-validation-message="请填写有效的原价" value="{{if $v['data']['original_price'] gt 0}}{{$v.data.original_price}}{{/if}}" />
													</td>
													<td class="am-text-middle">
														{{if $line_k gt 0}}
															<span class="am-text-xs cr-blue c-p am-margin-right-xs line-copy">复制</span>
															<span class="am-text-xs cr-red c-p line-remove">移除</span>
														{{else /}}
															<!--operation-->
														{{/if}}
													</td>
												{{/case}}
											{{/switch}}
										{{/if}}
									{{/foreach}}
									</tr>
								{{/foreach}}
							{{/if}}
						</tbody>
					</table>
				</div>
			</div>
			
			<!-- 参数 -->
			<div id="goods-nav-parameters" class="division-block">
				<label class="block nav-detail-title">商品参数</label>
				{{include file="public/goodsparamstemplate/tips" /}}
				<!-- 通过配置生成商品参数 -->
				<div class="am-dropdown" id="parameters-quick-container" data-am-dropdown>
					<span class="business-operations-submit am-dropdown-toggle parameters-quick-add">
						<span>快捷操作</span>
						<i class="am-icon-caret-down"></i>
					</span>
					<div class="am-dropdown-content parameters-quick-config">
						<div class="am-margin-bottom-sm">
							<select class="am-radius chosen-select goods-template-params-select" data-placeholder="请选择模板..." data-validation-message="选择商品参数模板">
								{{if !empty($goods_template_list) and is_array($goods_template_list)}}
									<option value="">请选择模板...</option>
									{{foreach $goods_template_list as $v}}
										<option value="{{:urlencode(json_encode($v['config_data'], JSON_UNESCAPED_UNICODE))}}">{{$v.name}}</option>
									{{/foreach}}
								{{/if}}
							</select>
						</div>
						<textarea rows="5" placeholder="粘贴商品参数配置信息"></textarea>
						<button type="button" class="am-btn am-btn-secondary am-btn-xs am-radius am-btn-block am-margin-top-sm">确认</button>
					</div>
				</div>
				<!-- 复制操作 -->
				<span class="business-operations-submit am-margin-left-sm parameters-quick-copy">
					<i class="am-icon-copy"></i>
					<span>复制配置</span>
				</span>
			    <!-- 清空操作 -->
			    <span class="business-operations-submit am-margin-left-sm parameters-quick-remove">
					<i class="am-icon-times"></i>
					<span>清空参数</span>
				</span>
				{{include file="public/goodsparamstemplate/table" /}}
			</div>
			
			<!-- 文件 -->
			<div id="goods-nav-file" class="division-block">
				<label class="block nav-detail-title">商品文件
					<span class="am-form-group-label-tips">相册与文件，至少上传一样。目前只支持PDF</span>
				</label>
				<ul class="plug-file-upload-view plug-file-upload-view-file goods-file-view" data-form-name="file" data-max-number="1" data-dialog-type="file">
					{{if !empty($data['file'])}}
						<li>
							<input type="text" name="file" value="{{$data.file}}" />
							<a href="{{$data.file}}" title="{{$data.title}}" target="_blank">
								<img src="public/static/common/lib/ueditor/dialogs/attachment/fileTypeImages/icon_pdf.gif"/>
								{{$data.title}}
						    </a>
							<i>×</i>
						</li>
					{{/if}}
				</ul>
				<div class="plug-file-upload-submit" data-view-tag="ul.goods-file-view">+上传文件</div>
			</div>

			<!-- 相册 -->
			<div id="goods-nav-photo" class="division-block">
				<label class="block nav-detail-title">商品相册
					<span class="am-form-group-label-tips">相册与文件，至少上传一样。可拖拽图片进行排序，建议图片尺寸一致、最多30张</span>
				</label>
				<ul class="plug-file-upload-view goods-photo-view" data-form-name="photo[]" data-max-number="30" data-dialog-type="images">
					{{if !empty($data['photo'])}}
						{{foreach $data.photo as $v}}
							<li>
								<input type="text" name="photo[]" value="{{$v.images_old}}" />
								<img src="{{$v.images}}" />
								<i>×</i>
							</li>
						{{/foreach}}
					{{/if}}
				</ul>
				<div class="plug-file-upload-submit" data-view-tag="ul.goods-photo-view">+上传相册</div>
			</div>

			<!-- 音频 -->
			<div id="goods-nav-audio" class="division-block">
				<label class="block nav-detail-title">商品音频</label>
				<div class="am-form-group am-form-file am-form-group-refreshing">
					<label class="block">音频<span class="am-form-group-label-tips">音频试听</span></label>
					<ul class="plug-file-upload-view plug-file-upload-view-audio goods-audio-view" data-form-name="audio" data-max-number="1" data-dialog-type="audio">
						{{if !empty($data['audio'])}}
							<li>
								<input type="text" name="audio" value="{{$data.audio}}" />
								<audio src="{{$data.audio}}" controls>your browser does not support the audio tag</audio>
								<i>×</i>
							</li>
						{{/if}}
					</ul>
					<div class="plug-file-upload-submit" data-view-tag="ul.goods-audio-view">+上传音频</div>
				</div>
			</div>

			<!-- 视频 -->
			<div id="goods-nav-video" class="division-block">
				<label class="block nav-detail-title">商品视频</label>
				<div class="am-form-group am-form-file am-form-group-refreshing">
					<label class="block">短视频<span class="am-form-group-label-tips">视频比图文更有具带入感, 可插入MP4或iframe</span></label>
					<ul class="plug-file-upload-view plug-file-upload-view-video goods-video-view" data-form-name="video" data-max-number="1" data-dialog-type="video">
						{{if !empty($data['video'])}}
							<li>
								<input type="text" name="video" value="{{$data.video}}" />
								<iframe src="{{$data.video}}">your browser does not support the video tag</iframe>
								<i>×</i>
							</li>
						{{/if}}
					</ul>
					<div class="plug-file-upload-submit" data-view-tag="ul.goods-video-view">+上传视频</div>
				</div>
			</div>

			<!-- web内容 -->
			<div id="goods-nav-web" class="division-block">
				<label class="block nav-detail-title">电脑详情</label>
				<div class="am-form-group am-form-group-refreshing">
					<textarea class="am-radius am-validate" name="content_web" maxlength="105000" id="editor-tag" data-validation-message="电脑端详情内容最多 105000 个字符">{{if !empty($data)}}{{$data.content_web}}{{/if}}</textarea>
				</div>
			</div>

			<!-- seo -->
			<div id="goods-nav-seo" class="division-block">
				<label class="block nav-detail-title">SEO</label>
				{{include file="lib/seo" /}}
			</div>

			<div class="am-form-group am-form-group-refreshing am-margin-top-lg am-padding-left-0">
				<input type="hidden" name="id" {{if isset($data) and !empty($data['id']) and (!isset($is_copy) or $is_copy neq 1)}} value="{{$data.id}}"{{/if}} />
				<button type="submit" class="am-btn am-btn-primary am-radius btn-loading-example am-btn-sm am-btn-block" data-am-loading="{loadingText:'处理中...'}">保存</button>
			</div>
		</form>
        <!-- form end -->
	</div>
</div>
<!-- right content end  -->

<!-- footer start -->
{{include file="public/footer" /}}
<!-- footer end -->

<!-- 拖拽排序初始化 -->
<script type="text/javascript">
// 规格扩展返回处理
function SpecificationsExtendsBack(data)
{
	var $extends_popup = $('#specifications-extends-popup');
    $('.specifications-table').find($extends_popup.attr('data-line-extend')).find('.line-extend-input').val(JSON.stringify(data));
    $extends_popup.modal('close');
}
</script>